@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <link rel="stylesheet" href="@Url.Content("~/Content/Views/Suspeito/Listar.css?" + DateTimeOffset.Now)" />
}

@section scripts{
    <script src="@Url.Content("~/Scripts/Views/Suspeito/Listar.js?" + DateTimeOffset.Now)"></script>
}
<input id="inpID_JOGADOR_SALA" type="hidden" name="ID_JOGADOR_SALA" data-id="@ViewBag.ID_JOGADOR_SALA" />
<div id="divInformaIDSala" data-id="@ViewBag.Sala_ID">
    <h1>ID da Sala: #@ViewBag.Sala_ID</h1>
</div>
<div class="centralizar" id="Icone">
    <img src="~/Content/Imagens/Shared/imgLogo.svg" alt="Alternate Text" />
</div>
<div class="centralizar" id="divSuspeitos">
    <label>@ViewBag.NomeJogador escolha seu personagem:</label>
</div>
<div id="carouselSuspeitos" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @foreach (var suspeito in ViewBag.Suspeitos)
        {
            <div class="carousel-item @(suspeito.Id == ViewBag.Suspeitos[0].Id ? "active" : "")">
                <div class="centralizar">
                    <a href="#" onclick="Listar.Suspeito_OnClick(event)">
                        <img data-idjogadorsala="@(suspeito.IdJogadorSala == null ? 0 : suspeito.IdJogadorSala)" data-id="@suspeito.Id" class="d-block cartaSuspeito @(suspeito.IdJogadorSala == null ? "" : "selected")" title="@(suspeito.IdJogadorSala == null ? suspeito.Descricao : suspeito.NickJogador)" src="@Url.Content(suspeito.UrlImagem)">
                    </a>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselSuspeitos" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselSuspeitos" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section id="secBotoes" class="centralizar">
    <div id="divBotoes">
        <div class="centralizar" id="divVoltar">
            <button class="btnPadrao" id="btnVoltar" onclick="location.href='/Sala/Manter'">
                Voltar
            </button>
        </div>
        <div class="centralizar" id="divVamosAoCaso">
            <button class="btnPadrao" id="btnVamosAoCaso" onclick="">
                Vamos ao caso!
            </button>
        </div>
    </div>
</section>
