@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <link rel="stylesheet" href="@Url.Content("~/Content/Views/Suspeito/Listar.css?" + DateTimeOffset.Now)" />
}

@section scripts{
    <script src="@Url.Content("~/Scripts/Views/Suspeito/Listar.js?" + DateTimeOffset.Now)"></script>
}
<div id="divInformaIDSala">
    <h1>ID da Sala: #@ViewBag.Sala_ID</h1>
</div>
<div class="centralizar" id="Icone">
    <img src="~/Content/Imagens/Shared/imgLogo.svg" alt="Alternate Text" />
</div>
<div class="centralizar" id="divSuspeitos">
    <label>@ViewBag.NomeJogador escolha seu personagem:</label>
</div>
<div id="carouselSuspeitos" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @foreach (var suspeito in ViewBag.Suspeitos)
        {
            <div class="carousel-item @(suspeito.Id == ViewBag.Suspeitos[0].Id? "active": "")">
                <div class="centralizar">
                    <img data-id="@suspeito.Id" class="d-block cartaSuspeito" title="@suspeito.Descricao" src="@Url.Content(suspeito.UrlImagem)">
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselSuspeitos" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselSuspeitos" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>