@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var lID_JOGADOR_SALA = 1;//HttpContext.Current.Session["ID_JOGADOR_SALA"];
}

@section head{
    <link rel="stylesheet" href="@Url.Content("~/Content/Views/Partida/Jogar.css?" + DateTimeOffset.Now)" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Libs/Slick/slick.css?" + DateTimeOffset.Now)" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Libs/Slick/slick-theme.css?" + DateTimeOffset.Now)" />
}

@section scripts{
    <script src="@Url.Content("~/Scripts/Libs/Slick/slick.js?" + DateTimeOffset.Now)"></script>
    <script src="@Url.Content("~/Scripts/Views/Partida/Jogar.js?" + DateTimeOffset.Now)"></script>
    <script>
        @*gID_JOGADOR_SALA = @lID_JOGADOR_SALA;*@
    </script>
}
<input id="inpID_JOGADOR_SALA" type="hidden" name="ID_JOGADOR_SALA" value="@ViewBag.JogadorSala.Id" />
<section id="secPrimeiraLinha">
    <div id="divTabuleiro" class="esquerda">
        @foreach (var local in ViewBag.Locais)
        {
            <div id=@($"div{local.IdDescricao}") idLocal="@local.Id" class="Local" style="grid-row:@local.CoordenadaALinha/@(local.CoordenadaBLinha+1);grid-column:@local.CoordenadaAColuna/@(local.CoordenadaBColuna+1);">
                @foreach (var jogadorSuspeito in ViewBag.JogadoresSuspeitos)
                {
                    if (jogadorSuspeito.IdLocal != null && jogadorSuspeito.IdLocal == local.Id)
                    {
                        <div id=@($"div{jogadorSuspeito.IdDescricao}") title="@jogadorSuspeito.DescricaoSuspeito" idJogadorSala="@jogadorSuspeito.IdJogadorSala" class="suspeito dentro" style="grid-column:@jogadorSuspeito.CoordenadaColuna;grid-row:@jogadorSuspeito.CoordenadaLinha;"></div>
                    }
                }
            </div>
        }

        @foreach (var jogadorSuspeito in ViewBag.JogadoresSuspeitos)
        {
            if (jogadorSuspeito.IdLocal == null)
            {
                <div id=@($"div{jogadorSuspeito.IdDescricao}") title="@jogadorSuspeito.DescricaoSuspeito" idJogadorSala="@jogadorSuspeito.IdJogadorSala" class="suspeito" style="grid-column:@jogadorSuspeito.CoordenadaColuna;grid-row:@jogadorSuspeito.CoordenadaLinha"></div>
            }
        }
    </div>
    <div id="divAnotacoes" class="direita">
        <div class="centralizar" id="divTabelaAnotacoes">
            Anotações
        </div>
        <div class="centralizar">
            <div id="divColunasTabelaAnotacoes">
                <div class="centralizar" id="divTituloColunas"> Armas </div>
                <div id="divItemColuna">
                    @if (ViewBag.AnotacaoArma != null)
                    {
                        foreach (var anotacaoArma in ViewBag.AnotacaoArma)
                        {
                            <label class="container">
                                @anotacaoArma.Descricao
                                <input type="checkbox" onchange="Jogar.AnotacaoArma_OnChange(this)" idArma="@anotacaoArma.Id" @(@anotacaoArma.Selecionado ? "checked=\"checked\"" : "")>
                                <span class="check"></span>
                            </label>
                        }
                    }
                </div>
            </div>
            <div id="divColunasTabelaAnotacoes">
                <div class="centralizar" id="divTituloColunas"> Locais </div>
                <div id="divItemColuna" class=".checkItem">
                    @if (ViewBag.AnotacaoLocal != null)
                    {
                        foreach (var anotacaoLocal in ViewBag.AnotacaoLocal)
                        {
                            <label class="container">
                                @anotacaoLocal.Descricao
                                <input type="checkbox" onchange="Jogar.AnotacaoLocal_OnChange(this)" idLocal="@anotacaoLocal.Id" @(anotacaoLocal.Selecionado ? "checked=\"checked\"" : "")>
                                <span class="check"></span>
                            </label>
                        }
                    }
                </div>
            </div>
            <div id="divColunasTabelaAnotacoes">
                <div class="centralizar" id="divTituloColunas"> Suspeitos </div>
                <div id="divItemColuna">
                    @if (ViewBag.AnotacaoSuspeito != null)
                    {
                        foreach (var anotacaoSuspeito in ViewBag.AnotacaoSuspeito)
                        {
                            <label class="container">
                                @anotacaoSuspeito.Descricao
                                <input type="checkbox" onchange="Jogar.AnotacaoSuspeito_OnChange(this)" idSuspeito="@anotacaoSuspeito.Id" @(anotacaoSuspeito.Selecionado ? "checked=\"checked\"" : "")>
                                <span class="check"></span>
                            </label>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section id="secSegundaLinha">
    <div id="divCartasContainer" class="esquerda centralizar">
        <div id="divCartas">
            <div class="slider slider-nav">
                <div class="carta centralizar">
                    <img src="~/Content/Imagens/CartasArmas/imgCartaCadeiraQuebrada.svg" />
                </div>
                <div class="carta centralizar">
                    <img src="~/Content/Imagens/CartasArmas/imgCartaCadeiraQuebrada.svg" />
                </div>
                <div class="carta centralizar">
                    <img src="~/Content/Imagens/CartasArmas/imgCartaCadeiraQuebrada.svg" />
                </div>
                <div class="carta centralizar">
                    <img src="~/Content/Imagens/CartasArmas/imgCartaCadeiraQuebrada.svg" />
                </div>
                <div class="carta centralizar">
                    <img src="~/Content/Imagens/CartasArmas/imgCartaCadeiraQuebrada.svg" />
                </div>
                <div class="carta centralizar">
                    <img src="~/Content/Imagens/CartasArmas/imgCartaCadeiraQuebrada.svg" />
                </div>
            </div>
        </div>
    </div>
    <div id="divAcoes" class="direita">
        <div id="divBotoes">
            <button type="button" title="Mover para direita" id="btnDireita" class="botoes btnSetaHorizontal centralizarBotoes" onclick="Jogar.btnDireita_OnClick()"></button>
            <button type="button" title="Mover para esquerda" id="btnEsquerda" class="botoes btnSetaHorizontal centralizarBotoes" onclick="Jogar.btnEsquerda_OnClick()"></button>
            <button type="button" title="Mover para cima" id="btnAcima" class="botoes btnSetaVertical centralizarBotoes" onclick="Jogar.btnAcima_OnClick()"></button>
            <button type="button" title="Mover para baixo" id="btnAbaixo" class="botoes btnSetaVertical centralizarBotoes" onclick="Jogar.btnAbaixo_OnClick()"></button>
            <button type="button" title="Rolar os dados" id="btnLancarDados" class="botoes centralizarBotoes"></button>

            <button type="button" title="Palpitar" id="btnPalpite" class="botoes centralizarBotoes botoesOpcoes" onclick="Jogar.btnPalpite_OnClick()" style="@(ViewBag.JogadorSala.Posicao.IdLocal == null ? "visibility: hidden" : "visibility: visible")">Palpite</button>
            <button type="button" title="Acusar" id="btnAcusar" class="botoes centralizarBotoes botoesOpcoes" onclick="Jogar.btnAcusar_OnClick()" style="@(ViewBag.JogadorSala.Posicao.IdLocal == null ? "visibility: hidden" : "visibility: visible")">Acusar</button>
            <button type="button" title="Usar passagem secreta" id="btnPassagemSecreta" class="botoes centralizarBotoes botoesOpcoes" onclick="Jogar.btnPassagemSecreta_OnClick()" style="@(ViewBag.passagemSecreta == false ? "visibility: hidden" : "visibility: visible")"></button>
        </div>
        <div id="divInformacoesContainer">
            <div id="divInformacoes">
                <label id="lblSala">#ID Sala: @ViewBag.ID_Sala</label>
                <button type="button" title="Finalizar turno" id="btnFinalizarTurno" class="botoes centralizarBotoes" onclick="Jogar.btnFinalizarTurno_OnClick()"></button>
                <div id="divCaixaInformacoes">
                    <label class="informacao">É a sua vez! Role o dado!</label>
                    <label class="informacao">Valor do dado = 5. Avance até 5 casas!</label>
                    <label class="informacao">Voce adentrou o CA! O que deseja fazer? (Palpite/Acusar)</label>
                    <label class="informacao">Voce palpitou a blibliotecária, no CA com o Pendrive!</label>
                    <label class="informacao">O jogador 2 revelou a carta Pendrive!</label>
                    <label class="informacao">Sua vez terminou! Jogador 2 está fazendo sua jogada...</label>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="ModalPalpite" data-url='@Url.Action("ModalPalpite", "Partida")'></div>
<div id="ModalAcusar" data-url='@Url.Action("ModalAcusar", "Partida")'></div>